@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alata', sans-serif;
}

* {
  box-sizing: border-box;
}

.landing-page-img-div {
  background-image: url("/landing-img.webp");
}